:root{
    --bg-color: hsl(225, 100%, 94%);
    --bg-button: hsl(245, 75%, 52%);
    --bg-card: white;
    --text-color: grey;
    --bg-price: hsl(225, 100%, 98%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
    text-align: center;
    font-weight: 500;
}
body{
    background-color: var(--bg-color);
}
main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-weight: 900;
    font-size: 1.5rem;
}
p{
    
    color: var(--text-color);
}
.annualPlan{
    background-color: var(--bg-price);
    border-radius: 15px;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    height: 5rem;
    font-size: .9rem;
}
.annualPlan h2{
    font-size: .9rem;
    font-weight: 700;
}
.annualPlan a{
    font-weight: 700;
}
.annualPlan span{
    margin: 0 1rem 0 .5rem;
}
.bottomCard{
    width: 90%;
    padding: 2rem 0;
    height: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.bottomCard a{
    font-size: 1rem;
    font-weight: 700;
}
.card{
    min-width: 20%;
    max-width: 90%;
    background-color: var(--bg-card);
    border-radius: 1em;
    height: 85vh;
}
.cancelOrder{
    font-weight: 900;
    color: gray;
}
.paymentBut{
    background-color: var(--bg-button);
    width: 95%;
    line-height: 3rem;
    border-radius: 10px;
    color: var(--bg-price);
    margin-bottom: -2.5rem;
    -webkit-box-shadow: 0px 28px 32px 5px rgba(0,0,0,0.15); 
box-shadow: 0px 28px 32px 5px rgba(0, 0, 0, 0.15);
}
.topCard{
    height: 30%;
    overflow: hidden;
    border-radius: 1em 1em 0% 0%; 
}
.topCard img{
    width: 100%; 
    object-fit: contain;  
}
@media (min-width: 375px){
    .card{
        width: 33%;
        height: 70vh;
    }
    .annualPlan h2{
        font-size: 1.2rem;
        font-weight: 700;
    }
        
    .annualPlan{
        font-size: 1.2rem;
    }
    .bottomCard a{
        font-size: 1.2rem;
        font-weight: 700;
    }
    .paymentBut{
        margin-bottom: -7rem;
    }
    h1{
        font-weight: 900;
        font-size: 2rem;
    }
    p{        
      font-size: 1.2rem;
    }
}
@media (min-width: 775px){
    .card{
        width: 40%;
        height: 75vh;
    }
    .paymentBut{
        margin-bottom: -5rem;
    }
}